*{
    font-family: Verdana, Tahoma, sans-serif;
    /* border: 1px solid green; */
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

body{
    display: grid;
    grid-auto-rows: 50px;
    grid-row-gap: 8px;
    grid-column-gap: 5px;
    grid-template-columns: repeat(10, 1fr);
}

.header{
    display: grid;
    grid-column: 1 / 11;
    grid-row: 1;
    background-color: #7aadff;
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 3px;

    grid-auto-rows: 50px;
    grid-template-columns:minmax(max-content, 100px) repeat(8, 1fr) minmax(max-content, 150px) minmax(max-content, 150px);
}

.title{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
}

.title:hover{
    background-color: #3a85ff;
    border-radius: 3px;
}

.description{
    grid-column: 9 / 11;
    grid-row: 1;  
    border-right: 1px solid rgb(255, 255, 255); 
    border-left: 1px solid white; 
}

.userinfo{
    grid-column: 11 / 13 ;
    grid-row: 1;
}

.logo{
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 25px;
}

.description:hover, .userinfo:hover{
    background-color: #3a85ff;
}

.input{
    grid-column: 1 / 12;
    grid-row: 2 / 3;
    background-color: #3a85ff;
    grid-column-gap: 3px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-radius: 3px;
    box-sizing: border-box;
}

.barcode, .quantity{
    height: 70%;
    margin: auto 0;
    outline: none;
    border-radius: 3px;
    font-size: 25px;
    color: rgb(173, 173, 173);
    border: none;
    padding-left: 5px;
}

.barcode{
    grid-column: 2 / 10;
    grid-row: 1;
}

.quantity{
    grid-column: 10 / 11;
    grid-row: 1;
}

.chequeAdd{
    grid-column: 11 / 12;
    grid-row: 1;
    height: 70%;
    margin: auto 0;
    border: none;
    outline: none;
    background-color: rgb(45, 108, 180);
    color: white;
    border-radius: 3px;
}

.chequeAdd:hover{
    background-color: rgb(22, 124, 30);
}

.chequeAdd:active{
    background-color: rgb(106, 165, 39);
}

.products{
    grid-column: 1 / 8;
    grid-row: 3 / 12;
    display: block;
    border: 1px solid rgb(73, 73, 255);
    border-radius: 3px;
}

.info{
    grid-column: 8 / 11;
    grid-row: 3 / 12;
    border: 1px solid rgb(73, 73, 255);
    border-radius: 3px;
    position: relative;
}

.products_table{
    display: block;
    margin: 30px auto;
    width: 90%;
    border-collapse: collapse;
}

.products_table tr{
    border-bottom: 1px solid grey;
    height: 30px;
}

.products_table tr th{
    text-align: left;
}

.t-bcode, .t-manuf, .t-title{
    width: 27%;
}

.t-qtty, .t-price{
    width: 30%;
}

.block-title{
    width: 100%;
    background-color: rgb(73, 73, 255);
    height: 35px;
    line-height: 200%;
    color: white;
    padding-left: 15px;
    display: inline-block;
    box-sizing: border-box;
}

.table-wrapper{
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 93%;
}

.sign{
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(209, 240, 255);
    line-height: 260%;
    padding-left: 10px;
}

.val{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    line-height: 260%;
    padding-right: 10px;
    text-align: right;
    font-size: 20px;
    margin-top: -10px;
}

.sign-big{
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(209, 240, 255);
    line-height: 260%;
    padding-left: 10px;
    font-size: 25px;
}

.val-big{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    line-height: 260%;
    padding-right: 10px;
    text-align: right;
    font-size: 35px;
}

.cash-actions{
    display: block;
    width: 100%;
    height: 50px;
    background-color: rgb(213, 255, 220);
    position: absolute;
    bottom: 0;
}

.btn-cancel{
    margin-top: 10px;
    width: 30%;
    background-color: rgb(255, 83, 71);
    border: none;
    height: 30px;
    color: white;
    border-radius: 3px;
}

.btn-cancel:hover{
    width: 30%;
    background-color: rgb(255, 52, 37);
}

.btn-apply{
    margin-top: 10px;
    width: 30%;
    background-color: rgb(64, 219, 64);
    border: none;
    height: 30px;
    color: white;
    border-radius: 3px;
    margin-left: 5px;
}

.btn-apply:hover{
    width: 30%;
    background-color: rgb(0, 173, 0);
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 12;
    grid-row: 12 / 14;
    background-color: #7aadff;
    border-radius: 3px;
}

.about{
    margin: auto 15px;
    color: white;
    font-size: 15px;
}

.ico-tiny{
    font-size: 13px;
    display: inline-block;
    margin-right: 7px;
}

.auth_window{
    grid-column: 3 / 9;
    grid-row: 4 / 9;
    background-color: rgb(0, 121, 190);
    grid-column-gap: 3px;
    display: block;
    grid-template-columns: repeat(12, 1fr);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
}

.auth_title{
    width: 100%;
    border-radius: 5px 5px 0 0;
    background-color: #7aadff;
    padding-left: 15px;
    box-sizing: border-box;
    height: 50px;
    font-size: 20px;
    line-height: 250%;
    color: white;
}

.auth-table{
    width: 90%;
    margin: 30px auto;
}

.auth-table tr td{
    padding-bottom: 30px;
}

.auth_input{
    border: 1px solid rgb(10, 160, 187);
    height: 30px;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 20px;    
}

.auth_page{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('res/auth_bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.auth_btn{
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgb(0, 121, 190);
    border: none;
    border-radius: 3px;
}

.new_item{
    grid-row: 2 / 11;
    grid-column: 1 / 6;
    border: 1px solid blue;
    border-radius: 4px;
    display: block;
}

.update_item{
    grid-row: 2 / 11;
    grid-column: 6 / 11;
    border: 1px solid blue;
    border-radius: 4px;
    display: block;
}

.small-input{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid rgb(17, 160, 255);
    font-size: 20px;
    padding-left: 10px;
}

.adding-item{
    width: 95%;
    margin: 30px auto;
}

.adding-item tr td{
    padding-bottom: 30px;
}

.submit_btn{
    width: 160px;
    height: 45px;
    color: white;
    border-radius: 3px;
    background-color: rgb(0, 50, 126);
    border: none;
    float: right;
    font-size: 20px;
}

.notification_ok{
    width: 97%;
    background-color: rgb(136, 255, 136);
    height: 50px;
    line-height: 300%;  
    padding-left: 20px;
    border-radius: 4px;
}

.notification_warn{
    width: 97%;
    background-color: rgb(255, 180, 118);
    height: 50px;
    line-height: 300%;  
    padding-left: 20px;
    border-radius: 4px;
}

.search_partition{
    padding-top: 5px;
    width: 100%;
    height: 50px;
    background-color: rgb(227, 236, 255);
}

.avg-input{
    width: 60%;
    display: inline-block;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgb(226, 226, 226);
    font-size: 20px;
    padding-left: 10px;
    margin: 3px auto;
    margin-left: 14%;
}

.btn-search{
    display: inline-block;
    height: 38px;
    width: 100px;
    border-radius: 4px;
    border: none;
    background-color: rgb(80, 185, 255);
    color: white;
    margin: 3px auto;
    margin-right: 30px;
}

.update_table{
    width: 90%;
    margin: 50px auto;
}

.update_table tr td{
    padding-bottom: 30px;
}